@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>新意网络管理系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/Content/AdminTpl/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/AdminTpl/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/AdminTpl/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/AdminTpl/css/style.min.css" rel="stylesheet">
    <link href="~/Content/AdminTpl/css/login.min.css" rel="stylesheet">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ XinYes ]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>新意网络管理系统</strong></h4>
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post" action="Login" name="loginForm">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到新意网络管理系统</p>
                    <input name="userId" type="text" class="form-control uname" placeholder="用户名" />
                    <input name="userPassword" type="password" class="form-control pword m-b" placeholder="密码" />
                    <a href="#">忘记密码了？</a>
                    <button class="btn btn-success btn-block" type="submit">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015 All Rights Reserved. <a href="http://www.xinyes.com/" target="_blank" style="color:#ffffff;">XinYes</a>
            </div>
        </div>
    </div>
</body>

</html>